body{
    background-color: #D62222;
}

h1{
    color: #025157;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p{
    color: #8b8b8bcc;
    font-family: 'Open Sans', sans-serif;
font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
    font-family: 'Open Sans', sans-serif;
    
}

li {
    display:inline
}

.header {
    margin-top: 40px;
    margin: 40px 20px 0;
    font-size: 0
}

.header > *{
    display: inline-block;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
}

.logo{
    width: 15%;
}

.logo > img {
    width:50px;
    height: 45 px;
}

.navbar {
    width:70%;
    height: 45px;
    text-align: left;
    font-size: 14px;
    color: #025157;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
       
}

.actions {
    width:15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.main  {
    margin-top: 50px; 
    text-align: center;
}

.navbar > ul >  li{
    margin: 0 20px;
}

.actions > * {
    padding: 0 10px;
}
.actions > a {
    color: #67b54b
}

.actions > button {
    color: fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
    border-style: none;

}

.video {
    display:flex;
    justify-content: center;
    margin: 20px 0;
}